html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

#chat {
  height: 100vh;
}

#chat-box {
  margin: auto;
  width: 400px;
  height: 600px;
  padding: 10px;
  background-color: #f1f2f4;
  box-shadow: #c3c3c3 4px 4px 17px 3px;
}

#dialog-area {
  height: 100%;

  border-radius: 5px;
  margin-bottom: 10px;
  overflow-y: auto;

  display: block;
}

#message-area {
  width: 100%;
  max-width: 95%;

  color: #505050;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  box-shadow: #c3c3c3 3px 3px 3px -1px;
}

#text-area {
  width: 88%;
  max-height: 60px;
  overflow-y: auto;
}

#text-area:focus {
  outline: none;
}

.message-from {
  display: table;
  min-width: 150px;
  max-width: 250px;
  min-height: 18px;
  border-radius: 3px 0 0 3px;
  color: #fff;
  align-self: flex-end;
  background-color: #5358df;
  margin: 5px 0 5px 0;
  padding: 10px;
  position: relative;
  float: right;
  width: 100%;
}

.message-to {
  display: table;
  min-width: 150px;
  max-width: 250px;
  min-height: 18px;
  border-radius: 0 3px 3px 0;
  color: #000;
  background-color: #fff;
  margin: 5px 0 5px 0;
  padding: 10px;
}

#label {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#label-name {
  margin: 10px 0 0 10px;
  color: #505050;
  font-size: 22pt;
}

#label-avatar {
  background-color: #5458df;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 10px;
}

#label-avatar > span {
  top: 2px;
  position: relative;
  left: 13px;
  font-size: 30pt;
  font-weight: bold;
  color: #f8f8f8;
}
